body{
    margin-left: 200px;
    margin-right: 200px;
}

.title{
    text-align: center;
    color: #FA1616;
    margin-top: 20px;
}

img{
    width: 400px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.sub-title{
    color: #1B6CA8;
}

.item{
    margin-top: 20px;
    margin-bottom: 20px;
}